<ng-container *ngIf="result; else notFound">
  <div class="container">
    <div class="row">
      <div class="col col-lg-4">
        <img src="{{result.avatar_url}}" class="img-fluid" alt="Responsive image">
        <h2>{{result.name}}</h2>
        <h3>{{result.email}}</h3>
        <h6>{{result.followers}}</h6>
        <h6>{{result.following}}</h6>
      </div>
      <div class="col col-lg-8">
        <app-search-form [returnedSearchText]="searchText"></app-search-form>
        <ng-container *ngIf="additionalInfo.length > 0">
          <ng-container *ngFor="let info of additionalInfo">
            <app-additional-search [config]="info"></app-additional-search>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #notFound>
  <h3 class="sub-title">User not found :(</h3>
</ng-template>