<ng-container *ngIf="result; else notFound">
  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-4">
        <img src="{{result.avatar_url}}" class="img-fluid" alt="Responsive image">
        <h2>{{result.name}}</h2>
        <h3>{{result.email}}</h3>
      </div>
      <div class="col-sm-8">
        <app-search-form [returnedSearchText]="searchText"></app-search-form>
        <ng-container *ngIf="additionalInfo.length > 0">
          <ng-container *ngFor="let info of additionalInfo">
            <app-additional-search [config]="info"></app-additional-search>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #notFound>
  <p>User not found :(</p>
</ng-template>