/* You can add global styles to this file, and also import other style files */

$primaryColor: #ac53f2;

button {
    &.search-button {
        background-color: $primaryColor;
        color: #fff;
    }
}
